.page-link{
    color: green;
}

.page-link:hover{
    color: rgb(20, 112, 20);
}

.card{
    box-shadow: 3px 3px 5px 1px #494549;
    backdrop-filter: blur(20px);
    background-color: rgba(255, 255, 255, 0.250);
    color: white;
}

.card:hover{
    box-shadow: 4px 4px 5px 5px #b8a6bc;
}